image:
  repository: gastrolog
  tag: latest
  pullPolicy: IfNotPresent

replicas: 1

service:
  type: ClusterIP
  port: 4564

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 512Mi

persistence:
  enabled: true
  size: 10Gi
  storageClass: ""

args: []
